.all-product {
  display: flex;
  align-items: center;
}
.products-title {
  display: flex;
  flex-direction: column;
  margin: auto;
  text-decoration: none;
  color: black;
  text-align: center !important;
  transition: color 0.3s;
}
.products-title:hover {
  color: red !important;
  text-decoration: underline !important;
  text-decoration-color: red !important;
}
.products-title:hover .icon {
  color: teal !important;
  text-decoration: underline !important;
  text-decoration-color: teal !important;
  transform: scale(1.1);
}
.icon {
  color: rgb(198, 68, 202) !important;
  font-size: 2rem !important;
  margin: auto;
  transition: color 0.3s, transform 0.3s;
}
